.mylist-nav {
    background-color: #fff;
    padding: 10px 0;

    &__items {
        display: flex;
        justify-content: space-around;
        overflow-x: auto;
        white-space: nowrap;
        @include sp {
            justify-content: start;
        }
    }

    &__item {
        display: inline-block;
        cursor: pointer;
        @include sp {
            margin-right: 15px;
        }
    }

    &__title {
        font-size: 28px;
        @include tab {
            font-size: 25px;
        }
    }

    %__icon {
        margin-right: 10px;
    }

    &__icon--food {
        @extend %__icon;
        color: #dd3737;
    }

    &__icon--clean {
        @extend %__icon;
        color: #0d9f0c;
    }

    &__icon--health {
        @extend %__icon;
        color: #00509d;
    }

    &__icon--sport {
        @extend %__icon;
        color: #eeac00;
    }

    &__icon--machine {
        @extend %__icon;
        color: #663e8c;
    }

    &__icon--other {
        @extend %__icon;
        color: #000;
    }
}