.icon__food {
    color: #dd3737;
}

.icon__clean {
    color: #0d9f0c;
}

.icon__health {
    color: #00509d;
}

.icon__sport {
    color: #eeac00;
}

.icon__machine {
    color: #663e8c;
}

.icon__other {
    color: #000;
}