.result-pager {
    padding: 30px 0 50px 0;
    text-align: center;

    &__wrap {
        background-color: #fff;
        margin: 0 auto;
        width: 15%;
        @include tab {
            width: 27%;
        }
        @include sp {
            width: 56%;
        }
    }

    &__num {
        color: $font-color;
        border: 2px solid #000;
        font-size: 30px;
        padding: 0 15px;
    }
}