.category-pager {
    padding: 30px 0 50px 0;
    text-align: center;

    .pagination {
        display: block;
    }

    .page-item, .page-link {
        display: inline-block !important;
    }

    .page-link {
        color: #6f6152 !important;
    }

    .page-item.active .page-link {
        background-color: #6f6152 !important;
        border-color: #6f6152 !important;
        color: #fff !important;
    }
}